{{#if restaurant}}


<div class="restaurants">
  <h3>{{restaurant.name}}</h3>
  <h4>Location:</h4>
  <p> {{restaurant.address.street}} {{restaurant.address.zipcode}}</p>
  <h4>Website:</h4>
  <p>{{restaurant.yelpUrl}}</p>
</div>

<div class="restaurants-input">
  <h2>Update Restaurant Info.</h2>
  <form action="/{{restaurant.mood}}?_method=put" method="post">
      <input type="text" name="restaurant[name]" placeholder="{{restaurant.name}}"><br>
      <input type="text" name="restaurant[location]" value="{{restaurant.location}}"><br>
      <textarea cols="40" rows="5" name="restaurant[url]" >
        {{restaurant.url}}
      </textarea>
      <input type="submit" value="update">
  </form>

  <h3>Delete Restaurant</h3>
  <form action="/{{restaurant.mood}}?_method=delete" method="post">
    <input type="submit" value="delete">
  </form>
</div>

{{else}}
<h2>Bummer! <br> Nothing Here!</h2>
{{/if}}
